h1 {
    color: #005677;
    background-color: lightgrey;

}

#logo {

    display: flex;
    align-items: center;
    justify-content: center;


}

h3 {
    color: #005677;
    background-color: lightgrey;

}

footer {
    background-color: #005677;
    color: white;
}